$fontColorWhite: white;
$fontColorGray: #797979;
$header-footerBkg: #374249;
$headingColor: #374249;
$orangeColor: #f75311;
$buttonHoverColor: #cfd1d3;
$sectionBkg: #f3f7f9;

$mainFont: 'Roboto', sans-serif;