@mixin zero-all {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin debug {
  @if $debug == "true" {
    border: 1px solid red;
    // background-color: yellow;
  }
}

@mixin main {
	* {
		@include zero-all();
		font-family: $font;
		color: $colorWhite;
	}
}

@mixin scale($factor) {
	-webkit-transform: scale($factor);
	-moz-transform: scale($factor);
	-ms-transform: scale($factor);
	-o-transform: scale($factor);
	transform: scale($factor);
}
