$debug: true;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$orange: #f75311;
$headerfooterBck: #374249;
$bojaFonta: #797979;
$naslovi: #374249;
$font: "Roboto", sans-serif;
