$debug: "true";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$colorOrange: #f75311;
$colorBckHeaderFooter: #374249;
$colorFontMain: #797979;
$colorHeaders: #374249;
$colorWhite: #FFF;
$colorAppImages: #f3f7f9;

$font: "Roboto", sans-serif;

$imgBillboard: url("../slike/intro.jpg");
