@import "vars";
@import "mixins";

//tabs, 4spc/tab

@include main();

body {

  .mainNav {
    width: 100%;
    height: 3em;
	float: left;
	background-color: $colorBckHeaderFooter;
    // padding: 0.5em 15%;

    .avatar {
      float: left;
      height: 100%;
    //   border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
      }
	}
	
	ul {
		list-style: none;
		float: left;
		margin-top: 1em;

		li {
			display: inline-block;
			margin-right: 1em;

			a { 
				text-decoration: none; 
				color: $colorWhite;

				&:hover {
					color: $colorFontMain;
				}
			}		
		}
	}
  }
}
